@import url('../apps/emails/assets/emails.css');
@import url('../apps/keep/assets/keep.css');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    /* background: url('../img/main4.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #8395a7;
}

a {
    text-decoration: none;
}


/* ------------------ components ------------------- */

header img {
    width: 180px;
    image-orientation: flip;
    padding: 20px;
    transition: 0.3s;
}

header img:hover {
    opacity: 0.7;
}

.appsus-header {
    background-color: #2d3436;
}

.nav-bar {
    width: 80%;
    margin-right: 30px;
}

.main-nav-list {
    font-size: 2em;
    font-family: 'Exo 2', sans-serif;
    color: white;
    width: 100%;
    padding: 20px;
    border-radius: 200px 18px 198px 0px;
    background-color: #636e72;
}

.main-nav-list a {
    color: #d7f70a;
    cursor: pointer;
    transition: 0.3s;
}

.main-nav-list a:hover {
    color: white;
}


/* ------------------helpers------------------- */

.flex {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.content-center {
    align-content: center;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.grow {
    flex-grow: 1;
}

.items-stretch {
    align-items: stretch;
}