.emails-table td{
    border: 1px solid black;
}

.emails-table{
    width: 100%;
}

.unread-email{
    font-weight: bold;
}

.emails-table li{
    padding: 15px;
    background-color: lightskyblue;
    opacity: 0.8;
}

.side-nav{
width: 200px;
height: 300px;
border: 1px solid red;
}

.new-mail-btn{
    background: #fefefe;
    padding: 10px 17px;
    font-size: 1.3rem;
    border-radius: 25px;
    margin: 0 auto;
    color: gray;
    outline: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}
