.emails-table td{
    border: 1px solid black;
}

.emails-table{
    width: 100%;
}

.unread-email{
    font-weight: bold;
}

.emails-table li{
    padding: 15px;
    background-color: lightskyblue;
    opacity: 0.8;
}

.side-nav{
width: 200px;
height: 300px;
border: 1px solid red;
}

.new-mail-btn{
    background: #fefefe;
    padding: 10px 17px;
    font-size: 1.3rem;
    border-radius: 25px;
    margin: 0 auto;
    color: gray;
    outline: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}

.starred{
    color: red;
}

.tray-btn{
    margin-top: 20px;
}
.tray-btn > *{
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    border-bottom: solid 1px gray;
    padding: 10px;
}

.tray-btn > *:hover{
    opacity: 0.3;
}

.email-details-btns > *{
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid gray;
    border-bottom: solid 1px gray;
    padding: 10px;
    cursor: pointer;
}

.emails-details-main{
    background-color: #fff;
}

.emails-details-main h1{
    font-size: 3.5rem;
}
